<?xml version="1.0" encoding="utf-8"?>

<!--https://github.com/NLog/NLog/wiki/Configuration-file#configuration-file-locations-->
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.nlog-project.org/schemas/NLog.xsd">

    <targets>
        <target name="file" xsi:type="File" fileName="service.log"/>
        <!-- <target name="console" xsi:type="Console" layout="${date:format=HH\:MM\:ss} ${logger} ${message}"/> -->
        <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:MM\:ss} ${message}"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Error" writeTo="file"/>
        <logger name="*" minlevel="Info" writeTo="console"/>
        <!-- <logger name="*" minlevel="Debug" writeTo="console" /> -->
    </rules>
</nlog>